.thumbnail {
  border-radius: 10px;
  cursor: pointer;
  max-height: 100px;
  object-fit: cover;
  border: 4px solid black;
}

.thumbnail:last-child {
  margin-bottom: 20px;
}

.thumbnail-selected {
  border: 4px solid #d6c918;
}

.video {
  max-height: 100px;
}
