.button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.filter {
  filter: brightness(0) saturate(100%) invert(97%) sepia(36%) saturate(321%)
    hue-rotate(51deg) brightness(101%) contrast(101%)
    drop-shadow(0 0 10px #42ff4f);
}
