.App {
  text-align: center;
  overflow: hidden;
  height: 100vh;
}

.App-Grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  height: 100%;
  max-width: 100vw;
}

.App-Wallpaper {
  grid-column: 1 / -1;
  grid-row: 1 / -1;

  /* height: 100%; */
  width: 100%;
  object-fit: contain;
}

.App-Kid {
  grid-column: 2 / 3;
  grid-row: 2 / 3;

  justify-self: center;
  align-self: center;
}

.App-Audio {
  display: none;
}

.App-Button {
  appearance: button;
  background-color: #1899d6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-family: din-round, sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter 0.2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  height: 50px;
  min-width: 50px;
  padding: 0 50px;
}

.App-Button:after {
  background-clip: padding-box;
  background-color: #1cb0f6;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.App-Button:main,
.App-Button:focus {
  user-select: auto;
}

.App-Button:hover:not(:disabled) {
  filter: brightness(1.1);
}

.App-Button:disabled {
  cursor: auto;
}

.App-Button-Start {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  justify-self: center;
  align-self: center;
}

.App-Button-Wallpaper {
  grid-column: 3 / 4;
  grid-row: 1 / 2;
  justify-self: end;
  align-self: center;
}